* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.title {
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.pd-md {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
  background-color: green;
  padding: 20px;
  color: white;
}

.bg-dark {
  text-align: center;
  background-color: green;
  padding: 10px;
  color: white;
}

footer {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

textarea {
  flex: 1;
  margin-bottom: 10px;
  padding: 15px;
  padding-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

p.error-message {
  margin: 20px;
}

/* component Entry */
article {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(193, 197, 193);
  border-radius: 5px;
  margin: 0 20px;
  padding: 5px;
}

button {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(29, 129, 29);
  border-radius: 5px;
  border: solid green;
  color: white;
}
button.delete-button {
  background-color: red;
  border: solid red;
}

button.true {
  border: solid rgb(133, 135, 133);
  background-color: rgb(133, 135, 133);
}
h3 {
  display: inline;
  margin: 10px;
  font-weight: 600;
}
h3.true,
p.true {
  color: rgb(133, 135, 133);
}

.task p {
  display: inline;
  margin: 10px 0;
}

h2 {
  font-size: 24px;
  margin: 20px 20px 10px 20px;
}

.isActive {
  color: rgb(29, 129, 29);
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  text-decoration: none;
}

li {
  padding: 20px 40px;
  text-decoration: none;
}

li a {
  color: grey;
  text-decoration: none;
}
