html {
  --dark: #212529;
  --medium: #e8e5e5;
  --light: #fff;
}

* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 5% 10%;
}

/* universal classes */
.bg-dark {
  background-color: var(--dark);
  color: var(--light);
}

.txt-cntr {
  text-align: center;
}
.grid-1-2-3 {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-1-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
}

.mg-md {
  margin: 40px;
}

/* individual elements */
header {
  font-size: 2rem;
  padding: 3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  border-bottom: 2px solid rgba(0, 1, 0, 0.2);
}

h3 {
  margin: 5px 0;
}

a {
  font-size: 12px;
}

img {
  width: 100%;
  margin: 20px 0;
}

.photo-container {
  width: 90%;
  margin: 20px auto;
}
article {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  margin: 7px;
}

footer {
  padding: 30px;
}
/* search form  */
form {
  margin: 40px auto;
}

::placeholder {
  padding: 5px;
  font-size: 15px;
}

input[type="search"],
input[type="submit"] {
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 2px 0;
}

/* ========================= */
/* 768 */
/* ========================= */

@media screen and (min-width: 768px) {
  .grid-1-2-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-1-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  input[type="search"],
  input[type="submit"] {
    margin: 0;
  }

  .photo-container {
    margin: 40px auto;
  }
}

/* ========================= */
/* 996*/
/* ========================= */

@media screen and (min-width: 996px) {
  .grid-1-2-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  input[type="search"],
  input[type="submit"] {
    height: 40px;
  }
}
